.login-page {
    background-image: url(../images/bg-login-3.jpg) !important;
    background-position: center center !important;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.register-box {
    width: 75% !important;
    margin: 7% auto;
}

.register-box, .login-box {
    background-color: red;
    border-radius: 10px;
    padding: 15px;
}
.register-box, .login-box {
    background-color: #00000082;
    border-radius: 10px 10px 0px 0px;
}

.login-logo, .register-logo {
    /*font-size: 35px;*/
    text-align: center;
    margin-bottom: 3%;
    font-weight: 300;
}

.login-box-body, .register-box-body {
    background: #07070763 !important;
    padding: 20px !important;
    /* border-top: 0 !important; */
    color: #fff !important;
}

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.register-logo a {
    color: #fff !important;
}
